<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDh9o3q3ZwYx-6d83gb1yx1ytET6rZQmjk</string>
	<key>GCM_SENDER_ID</key>
	<string>1006717159296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.e20.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-20-21d65</string>
	<key>STORAGE_BUCKET</key>
	<string>e-20-21d65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006717159296:ios:d03251e57dcee6b248e365</string>
</dict>
</plist>